[NEXTCLOUD]
url=${NEXTCLOUD_URL}
username=${NEXTCLOUD_USER}
password=${NEXTCLOUD_PASSWORD}
max_retries=5
retry_delay=2
check_interval=5
backoff=1.2

[OLLAMA]
host=${OLLAMA_HOST}
model=${OLLAMA_MODEL}
system_prompt=${OLLAMA_SYSTEM_PROMPT}
actor_id=${OLLAMA_ACTOR_ID}

[LOGGING]
LOG_DIRECTORY=./logs
LOG_FILENAME=archie.log
JSON_LOG_FILENAME=archie.json
CONSOLE_COLORIZE=1
LOG_COLORIZE=0
JSON_COLORIZE=0
LOG_LEVEL=DEBUG
LOG_FORMAT= %(asctime)s.%(msecs)03d | %(filename)s:%(lineno)d | %(levelname)s | %(message)s
DATE_FORMAT= %Y-%m-%d %H:%M:%S%
